typings
**/app/**/*.js
**/app/**/*.map
node_modules
jspm_packages
bower_components

.vs
**/*.sou
**/*.user
bin
obj
packages
.idea/Angular-GettingStarted.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.gitignore
